<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<ng-container *ngIf ="ryber.appCurrentNav  === '/home' || ryber.appCurrentNav  === '/' ">
    <app-login  class = "loginCO0" [loginTV]= '"loginCO0"' #appLoginVal0 [ngStyle] = 'ryber.loginCO0.quantity[0][0].ngCss[0][0]'></app-login>    
</ng-container>


<ng-container *ngIf ="ryber.appCurrentNav  === '/movie'  ">
    <app-panel  class = "panelCO0" [panelTV]= '"panelCO0"' #appPanelVal4 [ngStyle] = 'ryber.panelCO0.quantity[0][0].ngCss[0][0]'></app-panel>    
</ng-container>





<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


    